@font-face {
	font-family: bowie;
	src: url(BOOWIE.ttf);
}

@font-face {
	font-family: Quattrocento-Regular;
	src: url(Quattrocento-Regular.ttf);
}

.loginPage {
    display: flex;
    flex-wrap: wrap;
}

.loginPage div {
    min-width: 500px;
    max-width: 500px;
    min-height: 400px;
    padding: 0 50px;
    color: #555555;
}

.loginPage .loginPage__title  {
    font-family: bowie;
    font-size: 40px;
}

.loginPage .loginPage__subTitle {
    font-family: Quattrocento-Regular;
}

.loginPage__leftSide {
	display: flex;
	flex-direction: column;
}
.loginPage__leftSide > input {
	width: 90%;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: Quattrocento-Regular;
	padding: 0.8vw;
	border-bottom: 0.1vw solid #707070;
	font-size: 1vw;
	color: #707070;
}

.loginPage > div > button {
	padding: 1vw 3vw;
	cursor: pointer;
	margin-top: 1vw;
	font-family: Quattrocento-Regular;
	/* border: 1px red solid; */
	border: none;
	font-size: 1.3vw;
	color: #555555;
	outline: none;
	background-color: #ffc0a1;
	border-radius: 0.7vw;
}