.MuiPaper-root.gem.MuiPaper-elevation1.MuiPaper-rounded {
	padding: 10px;
	transition: 0.3s ease all;
}

.MuiPaper-root.gem.MuiPaper-elevation1.MuiPaper-rounded:hover {
	transform: scale(1.05);
}

.gem {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* width: 210px; */
	margin: 16px;
}
.gem > a > img {
	object-fit: contain;
	height: 200px;
}
.gem > a {
	text-decoration: none;
}
.gem > a > p {
	font-family: Quattrocento-Regular;
	color: #707070;
	padding: 1vw;
	font-size: 14px;
	display: flex;
	justify-content: center;
}
/* .gem > a > button {
	margin: 2vw;
	padding: 0.8vw 3vw;
	cursor: pointer !important;
	margin-top: 1vw;
	font-family: Quattrocento-Regular;
	border: none;
	font-size: 14px;
	z-index: 999;
	color: #555555;
	outline: none;
	background-color: white;
	border: 0.2vw #ffc0a1 solid;
	border-radius: 0.7vw;
	transition: 0.3s ease-in-out;
}
.gem > a > button:hover {
	transition: 0.3s ease-in-out;
	color: white;
	background-color: #ffc0a1;
	font-weight: bold;
} */
.gem:hover {
	transition: 0.3s ease-in-out;
	transform: scale(1.05);
}

@media screen and (max-width: 10000px) and (min-width: 1400px) {
	.MuiPaper-root.gem.MuiPaper-elevation1.MuiPaper-rounded {
		padding: 1.2vw !important;
		box-shadow: 0vw 0.1vw 0.1vw -0.5vw rgb(0 0 0 / 20%), 0vw 0.1vw 0.1vw 0vw rgb(0 0 0 / 14%), 0vw 0.1vw 0.1vw 0vw rgb(0 0 0 / 12%);;
	}

	.gem {
		padding: 3vw !important;
		margin: 1.6vw !important;
		width: 15vw !important;
	}

	.gem > a > img {
		height: 15vw !important;
	}

	.gem > a > p {
		font-size: 1.2vw !important;
	}
}

@media screen and (max-width: 450px) {
	.gem > a > img {
		height: 60vw;
	}

	.gem > a > p {
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}