.header{
	position: sticky;
	top: 0;
	border: 1px transparent solid;
	background-color: #fff;
	z-index: 999;
}

.header__options {
	display: flex;
	align-items: center;
	font-family: ginebra_font;
	letter-spacing: 2px;
	justify-content: space-evenly;
	margin: 1vw 2.5vw;
	font-size: 1vw;
}

.header__options > a,
.header__options > div > a {
	color: rgb(85, 85, 85);
	text-decoration: none;
}

.header__options > div > a:hover,
.header__options > a:hover {
	font-weight: bold;
}

.header_optionsJewellery {
	color: rgb(63, 63, 63);
	font-weight: 600;
}

.header__options > div {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__optionsAboutDetails {
	font-size: 0.9vw;
	position: absolute;
	margin-top: 3.5vw;
	padding: 0.8vw;
	width: 10vw;
	z-index: 99;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	font-family: santral;
	border-radius: 0.8vw;
	box-shadow: 0vw 0.1vw 0.6vw rgba(0, 0, 0, 0.12),
		0 0.1vw 0.2vw rgba(0, 0, 0, 0.24);
}

.header__optionsProductDetails {
	font-size: 0.9vw;
	position: absolute;
	margin-top: 3.5vw;
	margin-left: 18vw;
	z-index: 99;
	background-color: #fff;
	padding: 0.8vw;
	width: 34vw;
	display: flex;
	font-family: santral;
	justify-content: space-evenly;
	border-radius: 0.8vw;
	box-shadow: 0vw 0.1vw 0.6vw rgba(0, 0, 0, 0.12),
		0 0.1vw 0.2vw rgba(0, 0, 0, 0.24);
}

.header__optionsProductDetails > div {
	display: flex;
	flex-direction: column;
	padding: 1vw;
}

.header__optionsAboutDetails > a,
.header__optionsProductDetails > div > a {
	padding: 0.4vw 0.3vw 0.7vw 0.3vw;
	text-decoration: none;
	cursor: pointer;
	color: rgb(85, 85, 85);
}

.header__optionsProductDetail span {
	position: relative;
}

.header__optionsProductDetail span::before,
.header__optionsProductDetail span::after {
	position: absolute;
	top: 1.3vw;
	left: 0vw;
	z-index: -1;
	transition: 0.3s;
	content: '';
}

.header__optionsProductDetail span::before,
.header__optionsProductDetail span::after {
	height: 2px;
	width: 0px;
}

.header__optionsProductDetail span:hover::before {
	width: 0;
}

.header__optionsProductDetail span:hover::after {
	width: 100%;
	background: rgb(211, 95, 70);
}

.header__optionsProductDetailSpecial {
	border: 0.1vw solid rgb(211, 95, 70);
	display: flex;
	justify-content: center;
	transition: 0.3s ease;
	/* border-radius: 0.7vw; */
}

.header__optionsProductDetailSpecial:hover {
	background: rgb(211, 95, 70);
}

.header__optionsProductDetailSpecial:hover span {
	color: white;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
	.header__options, .header__optionsAboutDetails,
	.header__optionsProductDetails {
		font-size: 13px;
	}

	.header__optionsAboutDetails {
		width: 200px;
	}

	.header__optionsProductDetails {
		width: 500px;
		margin-left: 350px;
	}

	.header__optionsProductDetail span::before,
	.header__optionsProductDetail span::after {
		top: 14px;
	}
}

@media screen and (max-width: 600px) and (min-width: 500px) {
	.header__options, .header__optionsAboutDetails,
	.header__optionsProductDetails {
		font-size: 13px;
	}

	.header__optionsAboutDetails {
		width: 200px;
	}

	.header__optionsProductDetails {
		margin-left: 300px;
		justify-content: left;
		width: 400px;
	}

	.header__optionsProductDetail span::before,
	.header__optionsProductDetail span::after {
		top: 14px;
	}

	.header__optionsProductHidden {
		display: none !important;
	}
} 

@media screen and (max-width: 500px) {
	.header {
		display: none;
	}
}
