@font-face {
    font-family: timeless;
    src: url(Timeless-Bold.ttf);
}

.topbar {
	font-family: timeless;
	display: flex;
	justify-content: space-between;
	padding: 0 1vw;
	align-items: center;
	height: 5vw;
}

.topbar__center__TopLogo {
	object-fit: contain;
	height: 4vw;
}

.topbar__center {
	flex-grow: 5;
	display: flex;
	justify-content: center;
}

.topbar__left, .topbar__right {
	flex-grow: 0.5;
}

.topbar__left, .topbar__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.topbar__rightAccount {
	display: flex;
	align-items: center;
	font-size: 1.3vw;
}

.topbar__left > .MuiSvgIcon-root, .topbar__right > .MuiSvgIcon-root, .topbar__right > .topbar__rightAccount > .MuiSvgIcon-root, .topbar__right > a > .MuiSvgIcon-root {
	cursor: pointer;
	font-size: 1.9vw !important;
	transition: 0.3s ease;
	color: rgb(255, 177, 109);
	/* color: black; */
}

.topbar__right > .MuiSvgIcon-root:hover,
.topbar__left > .MuiSvgIcon-root:hover,
.topbar__right > a > .MuiSvgIcon-root:hover {
	color: black
}