@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

@font-face {
	font-family: timeless;
	src: url(Timeless.ttf);
}

@font-face {
	font-family: boowie;
	src: url(BOOWIE.ttf);
}

@font-face {
	font-family: cinzel;
	src: url(CinzelDecorative-Regular.otf);
}

.topbar__centerHidden {
	display: none;
}

.topbar {
	font-family: timeless;
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 1vw;
	align-items: center;
}

.topbar__center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topbar__center > a {
	text-decoration: none;
	margin-top: 1vw;
}

.topbar__center__TopLogo {
	object-fit: contain;
	width: 14vw;
}

.topbar__centerTypedText {
	font-family: cinzel;
	font-size: 2.6vw;
	color: #d35f46;
	font-weight: 500;
	letter-spacing: 0.5vw;
	line-height: 1.8vw;
	margin-top: 1vw;
}

.topbar__centerTypedText .typed-cursor.typed-cursor--blink {
	display: none;
}

.expandedMoreIcon {
	color: #c23d00 !important;
}
.chevronRightIcon {
	color: #c23d00 !important;
}

.topbar__center {
	flex-grow: 4;
	display: flex;
	justify-content: center;
}

.topbar__left, .topbar__right {
	display: flex;
	justify-content: space-around;
	/* align-items: center; */
}

.topbar__right {
	/* flex-grow: 0.3; */
	min-width: 30%;
	/* max-width: 25%; */
	justify-content: flex-end;
}

.topbar__left {
	/* flex-grow: 1.5; */
	min-width: 25%;
	max-width: 25%;
	justify-content: left;
}

.topbar__rightAccount {
	display: flex;
	font-size: 1.3vw;
	margin-right: 1vw;
}

.topbar__rightAccount > a {
	text-decoration: none;
	color: black;
	transition: 0.3s ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 1vw;
}
.topbar__rightAccount > a:hover {
	font-weight: bold;
}

.topbar__left > a > .MuiSvgIcon-root,
.topbar__right > .MuiSvgIcon-root,
.topbar__right > .topbar__rightAccount > .MuiSvgIcon-root,
.topbar__right > a > .MuiSvgIcon-root,
.topbar__rightMenuIcon {
	cursor: pointer;
	font-size: 1.9vw !important;
	transition: 0.3s ease;
	color: rgb(255, 177, 109);
}

.topbar__left > a > .MuiSvgIcon-root:hover,
.topbar__right > a > .MuiSvgIcon-root:hover,
.topbar__rightMenuIcon:hover {
	color: black;
}

.topbar__rightMenuIcon {
	display: none !important;
}

.MuiTreeItem-label {
	font-family: 'Quattrocento', serif !important;
	padding: 10px;
	font-size: 14px !important;
}
.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
	font-family: 'Quattrocento', serif !important;
	font-size: 14px !important;
}

.topbar__treeItem {
	text-decoration: none;
	color: black;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
	background-color: rgba(255, 255, 255, 0.8);
}

.topbar__tree::-webkit-scrollbar,
.MuiTreeView-root::-webkit-scrollbar,
.MuiDrawer-root.MuiDrawer-modal::-webkit-scrollbar,
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16::-webkit-scrollbar {
	display: none !important;
}

@media screen and (max-width: 900px) and (min-width: 768px) {
	.topbar__centerTypedHidden > a > div {
		line-height: 0;
	}
	.topbar__left > a > .MuiSvgIcon-root, .topbar__right > .MuiSvgIcon-root, .topbar__right > .topbar__rightAccount > .MuiSvgIcon-root, .topbar__right > a > .MuiSvgIcon-root {
		font-size: 20px !important;
	}

	.topbar__center__TopLogo {
		height: auto;
	}

	.topbar__rightAccount > a {
		font-size: 14px !important;
	}
}

@media screen and (max-width: 768px) and (min-width: 500px) {
	.topbar__centerHidden {
		display: block;
	}

	.topbar__left, .topbar__centerTypedHidden {
		display: none;
	}
	.topbar {
		justify-content: space-between;
	}

	.topbar__right {
		width: 100%;
		max-width: 100%;
	}

	.topbar__center {
		justify-content: left;
	}

	.topbar__left > a > .MuiSvgIcon-root,
	.topbar__right > .MuiSvgIcon-root,
	.topbar__right > .topbar__rightAccount > .MuiSvgIcon-root,
	.topbar__right > a > .MuiSvgIcon-root {
		font-size: 20px !important;
	}

	.topbar__center__TopLogo {
		height: 30px;
	}

	.topbar__rightAccount > a {
		font-size: 12px !important;
	}
}

@media screen and (max-width: 500px) {
	.topbar__centerHidden {
		display: block;
	}

	.topbar__left, .topbar__centerTypedHidden {
		display: none;
	}
	.topbar {
		justify-content: space-between;
	}

	.topbar__right {
		width: 100%;
		max-width: 100%;
	}

	.topbar__center {
		justify-content: left;
	}

	.topbar__left > a > .MuiSvgIcon-root,
	.topbar__right > .MuiSvgIcon-root,
	.topbar__right > .topbar__rightAccount > .MuiSvgIcon-root,
	.topbar__right > a > .MuiSvgIcon-root {
		font-size: 20px !important;
	}

	.topbar__center__TopLogo {
		height: 30px;
	}

	.topbar__rightAccount > a {
		font-size: 12px !important;
	}

	.topbar__rightMenuIcon {
		display: block !important;
	}
}
