@font-face {
    font-family: timeless;
    src: url(Timeless-Bold.ttf);
}

.topbar {
	font-family: timeless;
	display: flex;
	justify-content: space-between;
	padding: 0 1vw;
	align-items: center;
}

.topbar__center__TopLogo {
	object-fit: contain;
	height: 4vw;
}

.topbar__center {
	flex-grow: 4;
	display: flex;
	justify-content: center;
}

.topbar__left, .topbar__right {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.topbar__right {
	/* flex-grow: 0.3; */
	min-width: 30%;
	max-width: 30%;
	justify-content: flex-end;
}

.topbar__left  {
	/* flex-grow: 1.5; */
	min-width: 30%;
	max-width: 30%;
	justify-content: left;
}

.topbar__rightAccount {
	display: flex;
	align-items: center;
	font-size: 1.3vw;
}

.topbar__rightAccount > a {
	text-decoration: none;
	color: black;
	transition: 0.3s ease;
	cursor: pointer;	
}
.topbar__rightAccount > a:hover {
	font-weight: bold;
}

.topbar__left > a > .MuiSvgIcon-root, .topbar__right > .MuiSvgIcon-root, .topbar__right > .topbar__rightAccount > .MuiSvgIcon-root, .topbar__right > a > .MuiSvgIcon-root {
	cursor: pointer;
	font-size: 1.9vw !important;
	transition: 0.3s ease;
	color: rgb(255, 177, 109);
}

.topbar__left > a > .MuiSvgIcon-root:hover, .topbar__right > a > .MuiSvgIcon-root:hover {
	color: black
}

@media screen and (max-width: 900px) and (min-width: 768px) {
	.topbar__left > a > .MuiSvgIcon-root, .topbar__right > .MuiSvgIcon-root, .topbar__right > .topbar__rightAccount > .MuiSvgIcon-root, .topbar__right > a > .MuiSvgIcon-root {
		font-size: 20px !important;
	}

	.topbar__center__TopLogo {
		height: 30px;
	}

	.topbar__rightAccount {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.topbar__left {
		display: none;
	}
	.topbar {
		justify-content: space-between;
	}

	.topbar__center {
		justify-content: left;
	}

	.topbar__left > a > .MuiSvgIcon-root, .topbar__right > .MuiSvgIcon-root, .topbar__right > .topbar__rightAccount > .MuiSvgIcon-root, .topbar__right > a > .MuiSvgIcon-root {
		font-size: 20px !important;
	}

	.topbar__center__TopLogo {
		height: 30px;
	}

	.topbar__rightAccount {
		font-size: 14px;
	}
}