.processStep {
	display: flex;
	position: relative;
	justify-content: space-between;
	background-color: #fff5ef;
	width: 90vw;
}

.processStepReflect {
	display: flex;
	position: relative;
	justify-content: space-between;
	flex-direction: row-reverse;
	background-color: #fff5ef;
	width: 90vw;
}

.processStep > img,
.processStepReflect > img,
.processStep > div > img,
.processStepReflect > div > img {
	object-fit: contain;
	align-self: center;
	height: 50vw;
	transition: 0.3s ease all;
}

.processStep > div > img,
.processStepReflect > div > img {
	opacity: 0;
}

@keyframes cf3FadeInOut {
	0% {
		opacity:1;
	}

	45% {
		opacity:1;
	}

	55% {
		opacity:0;
	}

	100% {
		opacity:0;
	}
}

.processStep__firstImage {
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}

.processStep__secondImage {
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-direction: alternate;
}

.processStep__thirdImage {
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 15s;
	animation-direction: alternate;
}

.processStep__description > p {
	position: absolute;
	font-size: 1.5vw;
	background-color: #fff;
	padding: 2vw;
	padding-bottom: 4vw;
	line-height: 2vw;
	bottom: 0;
	right: 0;
	margin-bottom: 5vw;
	margin-right: 8vw;
	width: 35vw;
	font-family: santral;
	color: #707070;
	text-align: end;
}

.processStep__descriptionReflect > p {
	position: absolute;
	font-size: 1.5vw;
	background-color: #fff;
	padding: 2vw;
	padding-bottom: 4vw;
	line-height: 2vw;
	bottom: 0;
	left: 0;
	margin-bottom: 5vw;
	margin-left: 8vw;
	width: 35vw;
	font-family: santral;
	color: #707070;
	text-align: end;
}

.processStep__stepName > div > p {
	font-size: 4vw;
	font-family: ginebra_font;
	color: #707070;
	text-align: end;
}

.processStep__stepNameReflect > div > p {
	font-size: 4vw;
	font-family: ginebra_font;
	color: #707070;
	text-align: start;
}

.processStep__stepName > div:first-child > p,
.processStep__stepNameReflect > div:first-child > p {
	font-weight: bold;
}

.processStep__stepName, .processStep__stepNameReflect {
	margin: 6vw 5vw;
}

@media screen and (max-width: 768px) and (min-width: 500px) {
	.processStep__descriptionReflect > p,
	.processStep__description > p {
		font-size: 12px;
		line-height: 14px;
	}
}

@media screen and (max-width: 500px) {
	.processStep__description > p,
	.processStep__descriptionReflect > p {
		display: none;
	}

	.processStep__stepName,
	.processStep__stepNameReflect {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
