@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@font-face {
    font-family: boowie;
    src: url(BOOWIE.ttf);
}

.homePage__keyFeatures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    color: #888;
    background-color:rgb(253, 246, 239);
}

.homePage__keyFeaturesTitle {
    font-size: 3.5vw;
    font-family: boowie;
}

.homePage__keyFeaturesTitle, .homePage__keyFeaturesMiddleContainer {
    padding: 3vw;
}

.homePage__keyFeaturesMiddleContainer {
    display: flex;
    justify-content: center;
}

.homePage__keyFeaturesMiddleContainer div {
    margin: 0px 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage__keyFeaturesMiddleContainer div .MuiSvgIcon-root {
    font-size: 8vw !important;
    color: rgb(252, 203, 160) !important;
}

.homePage__keyFeaturesMiddleContainer div p {
    font-size: 20px;
    text-align: center;
    margin-top: 2vw;
    font-family: 'Quattrocento', serif;
}

@media screen and (max-width: 768px) {
    .homePage__keyFeaturesTitle {
        font-size: 30px;
    }

    .homePage__keyFeaturesMiddleContainer div .MuiSvgIcon-root {
        font-size: 40px !important;
    }

    .homePage__keyFeaturesMiddleContainer div p {
        font-size: 14px;
    }
}