.aboutPageCompany {
	margin-bottom: -31vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.aboutPageCompanyMiddle {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px black solid; */
	height: 10vw;
	margin-bottom: 5vw;
	justify-content: space-around;
}
.aboutPageCompanyMiddleFirst {
	width: 2vw;
	height: 2vw;
	background: #ffc0a1 0% 0% no-repeat padding-box;
	border-radius: 100vw;
	opacity: 1;
}
.aboutPageCompanyMiddleMiddle {
	width: 1vw;
	height: 1vw;
	background: #ffc0a1 0% 0% no-repeat padding-box;
	border-radius: 100vw;
	opacity: 1;
}
.aboutPageCompanyMiddleLast {
	width: 0.8vw;
	height: 0.8vw;
	background: #ffc0a1 0% 0% no-repeat padding-box;
	border-radius: 100vw;
	opacity: 1;
}
.aboutPageCompanyTop {
	width: 45vw;
}
.aboutPageCompanyTop__firstJewel {
	/* border: 1px black solid; */
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	top: 3vw;
	left: 3vw;
}
.aboutPageCompanyTop__lastJewel {
	/* border: 1px black solid; */
	display: flex;
	position: relative;
	bottom: 3vw;
	z-index: -1;
	right: 3vw;
}

.aboutPageCompanyTop__firstJewel > img,
.aboutPageCompanyTop__lastJewel > img {
	object-fit: contain;
	height: 7vw;
}
.aboutPageCompanyTop__middleContent,
.aboutPageCompanyLast {
	display: flex;
	flex-direction: column;
	color: #707070;
	font-family: Quattrocento-Regular;
	align-items: center;
	justify-content: center;
	/* border: 1px black solid; */
	background-color: white;
	padding: 4vw 3vw;
	border-radius: 1vw;
	box-shadow: 0vw 0.1vw 0.6vw rgba(0, 0, 0, 0.12), 0 0.1vw 0.2vw rgba(0, 0, 0, 0.24);
}
.aboutPageCompanyTop__middleContent > h2,
.aboutPageCompanyLast > h2 {
	font-family: bowie;
	font-size: 2.5vw;
	padding-bottom: 2.5vw;
	font-weight: lighter;
}
.aboutPageCompanyTop__middleContent > p {
	width: 35vw;
	font-size: 1.3vw;
	line-height: 2vw;
	text-align: center;
}
.aboutPageCompanyLast > p {
	width: 35vw;
	font-size: 1.3vw;
	line-height: 2vw;
	text-align: center;
	padding: 1vw 0;
}
.aboutPageCompanyLast {
	height: 40vw;
	margin-bottom: 10vw;
}
