@font-face {
	font-family: timeless;
	src: url(Timeless-Bold.ttf);
}
@font-face {
	font-family: quattrocento;
	src: url(Quattrocento-Regular.ttf);
}

.comingSoon {
    padding: 2vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comingSoon__upper > img {
    height: 200px;
    object-fit: contain;
}

.comingSoon__lowerLeftLower {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comingSoon__lowerLeftUpper > h1, .comingSoon__lowerLeftLower > h1 {
    font-family: quattrocento;
    font-size: 5vw;
    color: #D35F46;
}

.comingSoon__lowerRight > a > .MuiSvgIcon-root {
	cursor: pointer;
    margin: 1vw;
	font-size: 3vw !important;
	transition: 0.3s ease;
	color: #D35F46;
}
.comingSoon__lowerRight > a > .MuiSvgIcon-root:hover {
	color: black;
}

@media screen and (max-width: 900px) and (min-width: 500px) {
    .comingSoon {
        background-position: 0 0 !important;
        background-size: contain !important;
    }

    .comingSoon__lowerLeftUpper > h1, .comingSoon__lowerLeftLower > h1 {
        font-size: 40px;
    }

    .comingSoon__lowerRight > a > .MuiSvgIcon-root {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 500px) {
    .comingSoon {
        height: 98vh;
    }

    .comingSoon__upper {
        display: flex;
        justify-content: center;
    }

    .comingSoon__lowerLeftUpper > h1, .comingSoon__lowerLeftLower > h1 {
        font-size: 40px;
    }

    .comingSoon__lowerRight > a > .MuiSvgIcon-root {
        font-size: 30px !important;
    }

    .comingSoon__lowerLeftUpper {
        display: flex;
        justify-content: center;
    }

    .comingSoon__lowerLeftLower > h1 > span {
        display: none;
    }

    .comingSoon__lowerLeftLower {
        flex-direction: column;
    }
}