.MuiPaper-root.product.MuiPaper-elevation1.MuiPaper-rounded {
	padding: 10px;
	transition: 0.3s ease all;
}

.MuiPaper-root.product.MuiPaper-elevation1.MuiPaper-rounded:hover {
	transform: scale(1.05);
}

.product {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	flex-direction: column;
	margin: 16px;
}

.product > a > img {
	object-fit: contain;
	position: relative;
	width: 100%;
}

.product > a {
	text-decoration: none;
}

.product > a > p {
	font-family: ginebra_font;
	letter-spacing: 1px;
	color: #707070;
	padding: 1vw;
	font-size: 14px;
	display: flex;
	justify-content: center;
	text-align: center;
}

@media screen and (max-width: 900px) and (min-width: 450px) {
	.product {
		padding: 10px;
	}

	.product > a > button {
		font-size: 12px;
	}
}

@media screen and (max-width: 450px) {
	.product > img {
		height: 60vw;
	}

	.product > p {
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}
