.thankingPage {
	display: grid;
	align-content: center;
	margin-bottom: 7%;
	justify-content: center;
	position: relative;
	margin-top: 5%;
}

.thankingPage__firstJewel {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	top: 3vw;
	left: 3vw;
}

.thankingPage__lastJewel {
	display: flex;
	position: relative;
	bottom: 3vw;
	z-index: -1;
	right: 3vw;
}

.thankingPage__lastJewel > img,
.thankingPage__firstJewel > img {
	object-fit: contain;
	height: 7vw;
}

.thankingPage__body {
	background-color: #f8f8f8;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vw 3vw;
	border-radius: 1vw;
	box-shadow: 0vw 0.1vw 0.6vw rgba(0, 0, 0, 0.12), 0 0.1vw 0.2vw rgba(0, 0, 0, 0.24);
}

.thankingPage__createButton {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.thankingPage__body > button {
	padding: 1vw 3vw;
	cursor: pointer !important;
	margin-top: 1vw;
	font-family: santral;
	border: none;
	font-size: 1vw;
	z-index: 99;
	color: black;
	outline: none;
	background-color: #d35f46;
	border-radius: 0.7vw;
    transition: 0.3s ease;
}

.thankingPage__body > button:hover {
	background-color: white;
	border: 1px #d35f46 solid;
}

.thankingPage__body > h1 {
	font-size: 2.5vw;
	text-align: center;
	font-family: ginebra_font;
	letter-spacing: 3px;
	margin-bottom: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: lighter;
	color: #707070;
}

.thankingPage__body > p {
	font-family: santral;
	color: #707070;
	padding: 1vw;
	margin-bottom: 1vw;
	text-align: center;
	text-justify: inter-word;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2vw;
}

/* ------------------------------------------------------ */
@media screen and (max-width: 768px) {
	.thankingPage__body > h1 {
		font-size: 20px;
	}

	.thankingPage__body > p {
		font-size: 12px;
		text-align: center;
	}

	.thankingPage__body > button {
		font-size: 12px;
	}
}