.cartPage {
	margin: 3vw 5vw 5vw;
	display: flex;
	flex-direction: column;
}
.cartPage__main {
	display: flex;
	justify-content: space-between;
}
.cartPage__titleContinueSection {
	display: flex;
	align-items: center;
	font-size: 1.5vw;
	font-family: Quattrocento-Regular;
	color: #707070;
	font-weight: bold;
}
.cartPage__title {
	margin-bottom: 2vw;
}
.cartPage__title > h1 {
	font-family: bowie;
	font-size: 2.5vw;
	margin: 2vw 0;
	font-weight: lighter;
	color: #707070;
}
.cartPage__titleContinueSection > .MuiSvgIcon-root {
	transition: 0.3s ease;
	font-size: 1.5vw !important;
}
.cartPage__titleContinueSection > .MuiSvgIcon-root:hover, .cartPage__titleContinueSection:hover {
	transition: 0.3s ease;
	color: rgb(255, 177, 109) !important;
	cursor: pointer;
}

.cartPage__items {
    width: 60%;
}

@media screen and (max-width: 900px) {
	.cartPage__titleContinueSection, .cartPage__titleContinueSection > .MuiSvgIcon-root {
		font-size: 12px !important;
	}
	.cartPage__title > h1 {
		font-size: 20px;
	}

	.cartPage__main {
		flex-direction: column;
	}

	.cartPage__items {
		width: 100%;
	}
}