.cartPage {
	margin: 3vw 5vw 5vw;
	display: flex;
	flex-direction: column;
}
.cartPage__main {
	display: flex;
	justify-content: space-between;
}

.cartPage__title {
	margin-bottom: 2vw;
}
.cartPage__title > h1 {
	font-family: Ginebra_font;
	font-size: 2.5vw;
	margin: 2vw 0;
	font-weight: lighter;
	color: #707070;
}

.cartPage__items {
	width: 60%;
}

.cartPage__itemsEmpty {
	box-shadow: 0px 1px 3px #878787;
	padding: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: #707070;
	font-family: Santral;
}

.cartPage__itemsEmpty > h1 {
	font-size: 2vw;
	font-weight: lighter;
}
.cartPage__itemsEmpty > p {
	margin-top: 1.8vw;
	font-size: 1.5vw;
}

.cartPage__itemsNoLogin {
	box-shadow: 0px 1px 3px #878787;
	padding: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: #707070;
	margin-top: 1vw;
	font-family: Santral;
}
.cartPage__itemsNoLogin > h1 {
	font-size: 2vw;
	font-weight: lighter;
}
.cartPage__itemsNoLogin > a > button {
	padding: 1vw 3vw;
	cursor: pointer;
	margin-top: 1vw;
	width: 100%;
	font-family: Santral;
	border: 1px solid #ffc0a1;
	font-size: 1.3vw;
	color: #555555;
	outline: none;
	background-color: #ffc0a1;
	border-radius: 0.7vw;
	margin-top: 2vw;
	transition: 0.3s ease;
}
.cartPage__itemsNoLogin > a > button:hover {
	background: #fff;
	border: 1px solid #e58177;
}
.loadingGif > img {
	padding: 2.2vw;
	object-fit: contain;
	height: 20vw;
}

@media screen and (max-width: 1700px) and (min-width: 900px) {
	.cartPage__itemsEmpty, .cartPage__itemsNoLogin {
		text-align: center;
		box-shadow: 0px 1px 3px #878787;
		padding: 10vw;
		color: #707070;
		height: 60vh;
		justify-content: center;
		font-family: Santral;
	}
}

@media screen and (max-width: 900px) and (min-width: 450px) {
	.cartPage__main {
		flex-direction: column;
	}

	.cartPage__items {
		width: 100%;
	}
	.loadingGif > img {
		height: 100px;
		padding: 50px;
	}

	.cartPage__title > h1, .cartPage__itemsNoLogin > h1, .cartPage__itemsNoLogin > a > button, .cartPage__itemsEmpty > h1 {
		font-size: 20px;
	}

	.cartPage__itemsEmpty, .cartPage__itemsNoLogin {
		text-align: center;
		box-shadow: 0px 1px 3px #878787;
		padding: 10vw;
		color: #707070;
		height: 80vh;
		justify-content: center;
		font-family: Santral;
	}
}

@media screen and (max-width: 450px) {
	.cartPage__itemsEmpty > p {
		font-size: 14px;
	}
	.cartPage__title > h1, .cartPage__itemsNoLogin > h1, .cartPage__itemsNoLogin > a > button, .cartPage__itemsEmpty > h1 {
		font-size: 20px;
	}

	.cartPage__main {
		flex-direction: column;
	}

	.cartPage__items {
		width: 100%;
	}
	.loadingGif > img {
		height: 100px;
		padding: 50px;
	}
	.cartPage__itemsEmpty, .cartPage__itemsNoLogin {
		font-size: 20px;
		text-align: center;
		box-shadow: 0px 1px 3px #878787;
		padding: 10vw;
		color: #707070;
		height: 80vh;
		justify-content: center;
		font-family: Santral;
	}
}
