@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@font-face {
    font-family: boowie;
    src: url(BOOWIE.ttf);
}

.homePage__middleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888;
    left: 0;
    width: 100%;
    background-color:rgb(253, 246, 239);
}

.homePage__middleSectionTitle {
    font-size: 3.5vw;
    font-family: boowie;
}

.homePage__middleSectionTitle, .homePage__middleSectionMiddleContainer {
    padding: 3vw;
}

.homePage__middleSectionMiddleContainer {
    display: flex;
    justify-content: center;
}

.homePage__middleSectionMiddleContainer div {
    margin: 0px 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.homePage__middleSectionMiddleContainer div .MuiSvgIcon-root {
    font-size: 6vw !important;
    color: rgb(252, 203, 160) !important;
}

.homePage__middleSectionMiddleContainer div p {
    font-size: 2vw;
    text-align: center;
    margin-top: 2vw;
    font-family: 'Quattrocento', serif;
}

.homePage__middleSectionMiddleContainerDesc {
    font-size: 1.5vw !important;
}

@media screen and (max-width: 768px) and (min-width: 400px) {
    .homePage__middleSectionTitle {
        font-size: 30px;
    }

    .homePage__middleSectionMiddleContainer div .MuiSvgIcon-root {
        font-size: 40px !important;
    }

    .homePage__middleSectionMiddleContainer div p {
        font-size: 14px;
    }

    .homePage__middleSectionMiddleContainerDesc {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 400px) {
    .homePage__middleSectionTitle {
        font-size: 20px;
    }

    .homePage__middleSectionMiddleContainer div {
        width: 80px;
    }

    .homePage__middleSectionMiddleContainer div .MuiSvgIcon-root {
        font-size: 40px !important;
    }

    .homePage__middleSectionMiddleContainer div p {
        font-size: 12px;
    }

    .homePage__middleSectionMiddleContainerDesc {
        display: none;
    }
}