.aboutPageCompany {
	margin-bottom: -29vw;
	margin-top: 8vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.aboutPageCompanyMiddle {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100px;
	margin-bottom: 5vw;
	justify-content: space-around;
}

.aboutPageCompanyMiddleFirst {
	width: 2vw;
	height: 2vw;
	background: #d35f46 0% 0% no-repeat padding-box;
	border-radius: 100vw;
	opacity: 1;
}

.aboutPageCompanyMiddleMiddle {
	width: 1vw;
	height: 1vw;
	background: #d35f46 0% 0% no-repeat padding-box;
	border-radius: 100vw;
	opacity: 1;
}

.aboutPageCompanyMiddleLast {
	width: 0.8vw;
	height: 0.8vw;
	background: #d35f46 0% 0% no-repeat padding-box;
	border-radius: 100vw;
	opacity: 1;
}

.aboutPageCompanyTop {
	width: 45vw;
}

.aboutPageCompanyTop__firstJewel {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	top: 3vw;
	left: 3vw;
}

.aboutPageCompanyTop__lastJewel {
	display: flex;
	position: relative;
	bottom: 3vw;
	z-index: -1;
	right: 3vw;
}

.aboutPageCompanyTop__firstJewel > img,
.aboutPageCompanyTop__lastJewel > img {
	object-fit: contain;
	height: 7vw;
}

.aboutPageCompanyTop__middleContent,
.aboutPageCompanyLast {
	display: flex;
	flex-direction: column;
	color: #707070;
	font-family: santral;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 4vw 3vw;
	border-radius: 1vw;
	box-shadow: 0vw 0.1vw 0.6vw rgba(0, 0, 0, 0.12), 0 0.1vw 0.2vw rgba(0, 0, 0, 0.24);
}

.aboutPageCompanyTop__middleContent > h2,
.aboutPageCompanyLast > h2 {
	font-family: ginebra_font;
	font-size: 2.5vw;
	padding-bottom: 2.5vw;
	font-weight: lighter;
}

.aboutPageCompanyTop__middleContent > p {
	width: 35vw;
	font-size: 1.3vw;
	line-height: 2vw;
	text-align: center;
}

.aboutPageCompanyLast > p {
	width: 35vw;
	font-size: 1.3vw;
	line-height: 2vw;
	text-align: center;
	padding: 1vw 0;
}

.aboutPageCompanyLast {
	height: 40vw;
	margin-bottom: 4vw;
}

.aboutus_link-btn {
	padding: 1vw 3vw;
	cursor: pointer;
	width: 100%;
	font-family: santral;
	border: 1px solid #d35f46;
	font-size: 1.1rem;
	color: black;
	outline: none;
	background-color: #d35f46;
	border-radius: 0.7rem;
	margin-top: 2vw;
	transition: 0.3s ease;
	margin-bottom: 34vw;
}

.aboutus_link-btn:hover {
	background: #fff;
	border: 1px solid #d35f46;
}

@media screen and (max-width: 900px) and (min-width: 450px) {
	.aboutPageCompanyTop__middleContent > h2,
	.aboutPageCompanyLast > h2 {
		font-size: 30px;
	}

	.aboutPageCompanyLast {
		height: 320px;
	}

	.aboutPageCompanyTop__middleContent > p {
		font-size: 12px;
		line-height: 18px;
	}

	.aboutPageCompanyLast > p {
		font-size: 12px;
		line-height: 18px;
	}
}

@media screen and (max-width: 450px) {
	.aboutPageCompany {
		margin-bottom: 0;
	}

	.aboutPageCompanyTop__middleContent > h2,
	.aboutPageCompanyLast > h2 {
		font-size: 20px;
	}

	.aboutPageCompanyTop, .aboutPageCompanyLast {
		width: 80vw;
	}

	.aboutPageCompanyLast > p {
		width: 100%;
	}

	.aboutPageCompanyLast {
		height: 320px;
	}

	.aboutPageCompanyTop__middleContent > p {
		font-size: 12px;
		line-height: 18px;
		width: 100%;
	}

	.aboutPageCompanyLast > p {
		font-size: 12px;
		line-height: 18px;
	}

	.aboutPageCompanyMiddleFirst {
		width: 5vw;
		height: 5vw;
	}

	.aboutPageCompanyMiddleMiddle {
		width: 4vw;
		height: 4vw;
	}

	.aboutPageCompanyMiddleLast {
		width: 3vw;
		height: 3vw;
	}
}
