.registerPage {
	display: grid;
	align-content: center;
	justify-content: center;
	position: relative;
	margin: 3rem 0;
}

.registerPage__firstJewel {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	top: 3vw;
	left: 3vw;
}

.registerPage__lastJewel {
	display: flex;
	position: relative;
	bottom: 3vw;
	z-index: -1;
	right: 3vw;
}

.registerPage__lastJewel > img,
.registerPage__firstJewel > img {
	object-fit: contain;
	height: 7vw;
}

.registerPage__body {
	background-color: #f8f8f8;
	width: 25vw;
	padding: 2vw 3vw;
	border-radius: 1vw;
	box-shadow: 0vw 0.1vw 0.6vw rgba(0, 0, 0, 0.12), 0 0.1vw 0.2vw rgba(0, 0, 0, 0.24);
}

.registerPage__formFirst {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.registerPage__formFirst > input {
	width: 90%;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: santral;
	padding: 0.8vw;
	border-bottom: 0.1vw solid #707070;
	font-size: 1vw;
	background-color: #f8f8f8;
	color: #707070;
}

.registerPage__formThirdInputs {
	display: flex;
	align-items: center;
	margin-top: 2vw;
	justify-content: space-between;
}

.registerPage__formThirdInputs > input {
	width: 40%;
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: santral;
	padding: 0.8vw;
	border-bottom: 0.1vw solid #707070;
	font-size: 1vw;
	background-color: #f8f8f8;
	color: #707070;
}

.registerPage__formSecond > p {
	padding-bottom: 0.5vw;
}

.registerPage__formSecondInputs {
	padding: 0.5vw;
}

.registerPage__formSecondInputs > label {
	padding: 0 0.5vw;
}

.registerPage__formSecondInputs input:last-child {
	margin-left: 5vw;
}

.registerPage__formSecond {
	font-family: santral;
	padding: 0.8vw;
	margin-top: 1.2vw;
	font-size: 1.2vw;
	color: #707070;
	font-weight: lighter;
}

.registerPage__formThird {
	font-family: santral;
	padding: 0.8vw;
	font-size: 1.2vw;
	color: #707070;
	font-weight: lighter;
}

.registerPage__createButton {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.registerPage__createButton > button {
	padding: 1vw 3vw;
	cursor: pointer;
	margin-top: 2vw;
	font-family: santral;
	border: none;
	font-size: 1vw;
	color: black;
	outline: none;
	background-color: #d35f46;
	border-radius: 0.7vw;
}

.registerPage__body > h1 {
	font-size: 2.2vw;
	font-family: ginebra_font;
	margin-bottom: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: lighter;
	color: #707070;
}

.registerPage__body > p {
	font-family: santral;
	color: #707070;
	padding: 1vw;
	margin-bottom: 1vw;
	text-align: justify;
	text-justify: inter-word;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2vw;
}

.MuiInput-root,
.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal {
	width: 100%;
}

/* ------------------------------------------------------ */
@media screen and (max-width: 10000px) and (min-width: 1400px) {
	.registerPage__form > div > div > label {
		font-size: 1vw;
		line-height: 1vw;
	}

	.registerPage__form > div > div > div {
		margin-top: 1vw;
		font-size: 1vw;
		line-height: 1vw;
	}

	.registerPage__form > div > div > div > input {
		height: 1vw;
		padding: 0.5vw 0 0.6vw;
	}

	.registerPage__formSecond > div > fieldset > legend {
		line-height: 1vw;
		font-size: 1vw;
	}

	.registerPage__formSecond > div > fieldset > div > label {
		margin-left: -1vw;
		margin-right: 1vw;
	}

	.registerPage__form > div > div > p {
		font-size: 1vw;
	}

	.registerPage__formSecond > div > fieldset > div > label > span {
		font-size: 1vw;
	}

	.registerPage__formSecond > div > fieldset > div > label > span > span > div > svg {
		font-size: 2vw !important;
		height: 1vw;
		width: 1vw;
	}

	.registerPage__formThirdInputs > div {
		margin-bottom: 1vw;
	}

	.registerPage__formThirdInputs > div > div {
		font-size: 1vw;
		line-height: 1vw;
	}

	.registerPage__formThirdInputs > div > div > input {
		height: 1vw;
		padding: 0.5vw 0 0.6vw;
	}

	.registerPage__formThirdInputs > div > div > div {
		height: 0.1vw;
		margin-left: 1vw;
		max-height: 1.5vw;
	}

	.registerPage__formThirdInputs > div > div > div > button {
		font-size: 1.2vw;
		padding: 1.2vw;
	}

	.registerPage__formThirdInputs > div > div > div > button > span > svg {
		font-size: 2vw !important;
		width: 2vw;
		height: 2vw;
	}

	.registerPage__formThirdInputs > div > p {
		font-size: 1vw;
	}
}

@media screen and (max-width: 1024px) and (min-width: 300px) {
	.registerPage {
		margin-top: 0px;
	}

	.registerPage__body {
		width: 300px;
	}

	.registerPage__body > h1 {
		font-size: 20px;
	}

	.registerPage__formFirst > input,
	.registerPage__formThirdInputs > input,
	.registerPage__formSecond,
	.registerPage__formThird,
	.registerPage__createButton > button,
	.registerPage__body > p {
		font-size: 14px;
	}

	.registerPage__lastJewel > img,
	.registerPage__firstJewel > img {
		height: 50px;
	}
}

@media screen and (max-width: 300px) {
	.registerPage {
		margin-top: 0px;
	}

	.registerPage__body {
		width: 250px;
	}

	.registerPage__body > h1 {
		font-size: 20px;
	}

	.registerPage__formFirst > input,
	.registerPage__formThirdInputs > input,
	.registerPage__formSecond,
	.registerPage__formThird,
	.registerPage__createButton > button,
	.registerPage__body > p {
		font-size: 14px;
	}

	.registerPage__lastJewel > img,
	.registerPage__firstJewel > img {
		height: 50px;
	}
}
