.footer {
	display: flex;
	padding: 1vw;
	background-color: #d35f46;
	flex-direction: column;
	font-family: santral;
	justify-content: space-between;
}

.footer__top,
.footer__bottom {
	display: flex;
	justify-content: space-between;
}

.footer__bottom {
	align-items: center;
}

.footer__topLeft {
	display: flex;
	flex: 1;
}

.footer__topLeftSectionOne,
.footer__topLeftSectionTwo,
.footer__topLeftSectionThree {
	padding: 1.5vw 2vw;
}

.footer__topLeftSectionOne > p:first-child > a,
.footer__topLeftSectionTwo > p:first-child > a,
.footer__topLeftSectionThree > p:first-child > a,
.footer__topRightSignUp > p:first-child {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	padding-bottom: 1.5vw;
	font-family: santral;
	font-weight: bold;
}

.footer__topLeftSectionOne > p > a,
.footer__topLeftSectionTwo > p > a,
.footer__topLeftSectionThree > p > a {
	color: #fff;
	font-family: santral;
	font-size: 14px;
	line-height: 2.5vw;
	text-decoration: none;
}

.footer__topRightSignUp > p:nth-child(2) {
	color: #fff;
	font-family: santral;
	font-size: 14px;
	line-height: 2vw;
	text-decoration: none;
}

.footer__topRight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 20vw;
	padding: 1.5vw;
}

.footer__topRightSignUp {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__topRightIcons {
	margin-top: 1vw;
}

.footer__topRightIconButton {
	padding: 1vw !important;
}

.footer__topRightSignUp > a {
	padding: 1vw 3vw;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	margin-top: 1vw;
	font-family: santral;
	border: none;
	font-size: 14px;
	margin-top: 3vw;
	text-align: center;
	background-color: transparent;
	outline: none;
	border: 0.2vw #d35f46 solid;
	transition: 0.3s ease;
	border-radius: 0.7vw;
}

.footer__topRightSignUp > a:hover {
	background-color: #d35f46;
	transition: 0.3s ease;
	font-weight: bold;
	color: white;
}

.footer__bottom {
	padding: 1vw 1.5vw;
}

.footer__bottomCountrySelectCountry {
	display: flex;
	align-items: center;
}

.footer__bottomCountrySelectCountry > p {
	font-size: 14px;
	color: #fff;
	font-family: santral;
	font-weight: bold;
}

.footer__bottomText {
	font-size: 14px;
	color: #fff;
	font-family: santral;
}

.footer__bottomCountrySelectCountry > select {
	width: 200px;
	margin-left: 10px;
	outline: none;
	background-color: transparent;
	font-size: 14px;
	font-family: santral;
	color: black;
	height: 30px;
	cursor: pointer;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px transparent solid;
	transition: 0.3s ease-in-out;
}

.footer__bottomCountrySelectCountry > select:hover {
	transition: 0.3s ease-in-out;
	border-bottom: 1px #d35f46 solid;
}

/* This is the DUMMY SELECT COUNTRY JUST TO MAINTAIN THE MID DISTANCE FOR AN ELEMENT */

.footer__bottomCountrySelectCountryRight > select,
.footer__bottomCountrySelectCountryRight > p {
	color: transparent !important;
}

/* ------------------------------------------------------ */
/* - - - - - Media Queries - - - - - - */
@media screen and (max-width: 900px) {
	.footer__topRightSignUp > p:nth-child(2) {
		font-size: 14px;
	}

	.footer__topLeftSectionOne > p > a,
	.footer__topLeftSectionTwo > p > a,
	.footer__topLeftSectionThree > p > a {
		font-size: 14px;
	}

	.footer__topLeftSectionOne > p:first-child > a,
	.footer__topLeftSectionTwo > p:first-child > a,
	.footer__topLeftSectionThree > p:first-child > a,
	.footer__topRightSignUp > p:first-child {
		font-size: 14px;
	}

	.footer__bottomCountrySelectCountry > select {
		width: 120px;
	}
}

@media screen and (max-width: 700px) {
	.footer__bottomCountrySelectCountry {
		display: none;
	}

	.footer__topRightSignUp > p:nth-child(2) {
		font-size: 12px;
	}
	.footer__topLeftSectionOne > p > a,
	.footer__topLeftSectionTwo > p > a,
	.footer__topLeftSectionThree > p > a {
		font-size: 12px;
	}

	.footer__topLeftSectionOne > p:first-child > a,
	.footer__topLeftSectionTwo > p:first-child > a,
	.footer__topLeftSectionThree > p:first-child > a,
	.footer__topRightSignUp > p:first-child {
		font-size: 13px;
	}

	.footer__topRightSignUp > a {
		font-size: 12px;
	}

	.footer__topRightSignUp > p:nth-child(2) {
		font-size: 12px;
		line-height: 15px;
	}
}

@media screen and (max-width: 400px) {
	.footer__topLeftSectionOne,
	.footer__topLeftSectionTwo,
	.footer__topLeftSectionThree,
	.footer__topLeft {
		display: none;
	}

	.footer__topRight {
		flex: 0.8;
	}

	.footer__top {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 310px) {
	.footer__top,
	.footer__bottomCountryLeft,
	.footer__bottomCountryRight,
	.footer__bottomCountrySelectCountry {
		display: none;
	}

	.footer__bottomText {
		font-size: 12px;
	}

	.footer__bottom {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer {
		width: 100%;
	}
}
