.wishListPage {
	margin: 5vw;
	display: flex;
	flex-direction: column;
}
.wishListPage__userDetails {
	/* border: 1px red solid; */
	font-family: Quattrocento-Regular;
	font-size: 1.2vw;
	color: #707070;
	text-align: end;
}
.wishListPage__titleContinueSection {
	display: flex;
	align-items: center;
	font-size: 1.5vw;
	font-family: Quattrocento-Regular;
	color: #707070;
	font-weight: bold;
}
.wishListPage__title {
	margin-bottom: 4vw;
}
.wishListPage__title > h1 {
	font-family: bowie;
	font-size: 2.5vw;
	margin: 2vw 0;
	/* border: 1px red solid; */
	font-weight: lighter;
	color: #707070;
}
.wishListPage__titleContinueSection > .MuiSvgIcon-root {
	transition: 0.3s ease;
	font-size: 1.5vw !important;
}
.wishListPage > hr {
	width: 50vw;
	border-left: none;
	border-right: none;
	border-color: #dadada !important;
	border-bottom: none;
}
.wishListPage__titleContinueSection > .MuiSvgIcon-root:hover,
.wishListPage__titleContinueSection:hover {
	transition: 0.3s ease;
	color: rgb(255, 177, 109) !important;
	cursor: pointer;
}
