.wishListPage {
	margin: 3vw 5vw 5vw;
	display: flex;
	flex-direction: column;
}

.wishListPage__title {
	margin-bottom: 2vw;
}
.wishListPage__title > h1 {
	font-family: bowie;
	font-size: 2.5vw;
	margin: 2vw 0;
	font-weight: lighter;
	color: #707070;
}

.wishListPage__itemsFStart {
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.wishListPage__itemsFAround {
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}

.loadingGif {
	display: flex;
	align-items: center;
	justify-content: center;
}
.loadingGif > img {
	padding: 30px;
	object-fit: contain;
	height: 250px;
}

.wishListPage__itemsEmpty {
	box-shadow: 0px 1px 3px #878787;
	padding: 10vw;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;
	color: #707070;
	align-items: center;
	font-family: Quattrocento-Regular;
}

.wishListPage__itemsEmpty > h1 {
	font-size: 2vw;
	font-weight: lighter;
}
.wishListPage__itemsEmpty > p {
	margin-top: 1.8vw;
	font-size: 1.5vw;
}

.wishListPage__itemsNoLogin {
	box-shadow: 0px 1px 3px #878787;
	padding: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* width: 100%; */
	color: #707070;
	margin-top: 1vw;
	font-family: Quattrocento-Regular;
}
.wishListPage__itemsNoLogin > h1 {
	font-size: 2vw;
	font-weight: lighter;
}
.wishListPage__itemsNoLogin > a > button {
	padding: 1vw 3vw;
	cursor: pointer;
	margin-top: 1vw;
	width: 100%;
	font-family: Quattrocento-Regular;
	border: 1px solid #ffc0a1;
	font-size: 1.3vw;
	color: #555555;
	outline: none;
	background-color: #ffc0a1;
	border-radius: 0.7vw;
	margin-top: 2vw;
	transition: 0.3s ease;
}
.wishListPage__itemsNoLogin > a > button:hover {
    background: #fff;
    border: 1px solid #e58177;
}

@media screen and (max-width: 1700px) and (min-width: 900px) {
	.wishListPage__itemsEmpty, .wishListPage__itemsNoLogin {
		text-align: center;
		box-shadow: 0px 1px 3px #878787;
		padding: 10vw;
		color: #707070;
		height: 60vh;
		justify-content: center;
		font-family: Quattrocento-Regular;
	}
}

@media screen and (max-width: 900px) and (min-width: 580px) {
	.wishListPage__title > h1, .wishListPage__itemsEmpty > h1, .wishListPage__itemsNoLogin > h1, .wishListPage__itemsNoLogin > a > button {
		font-size: 20px;
	}

	.loadingGif > img {
		height: 100px;
		padding: 50px;
	}

	.wishListPage__itemsEmpty, .wishListPage__itemsNoLogin {
		text-align: center;
		box-shadow: 0px 1px 3px #878787;
		padding: 10vw;
		color: #707070;
		height: 80vh;
		justify-content: center;
		font-family: Quattrocento-Regular;
	}
}

@media screen and (max-width: 580px) and (min-width: 400px) {
	.wishListPage__itemsFStart, .wishListPage__itemsFAround {
		justify-content: center;
	}

	.wishListPage__title > h1, .wishListPage__itemsEmpty > h1, .wishListPage__itemsNoLogin > h1, .wishListPage__itemsNoLogin > a > button {
		font-size: 20px;
	}

	.loadingGif > img {
		height: 100px;
		padding: 50px;
	}

	.wishListPage__itemsEmpty, .wishListPage__itemsNoLogin {
		text-align: center;
		box-shadow: 0px 1px 3px #878787;
		padding: 10vw;
		color: #707070;
		height: 80vh;
		justify-content: center;
		font-family: Quattrocento-Regular;
	}
}

@media screen and (max-width: 400px) {
	.wishListPage__itemsFStart, .wishListPage__itemsFAround {
		justify-content: center;
	}

	.wishListPage__title > h1, .wishListPage__itemsEmpty > h1, .wishListPage__itemsNoLogin > h1, .wishListPage__itemsNoLogin > a > button {
		font-size: 20px;
	}

	.loadingGif > img {
		height: 100px;
		padding: 50px;
	}

	.wishListPage__itemsEmpty, .wishListPage__itemsNoLogin {
		text-align: center;
		box-shadow: 0px 1px 3px #878787;
		padding: 10vw;
		color: #707070;
		height: 80vh;
		justify-content: center;
		font-family: Quattrocento-Regular;
	}	
}