.homePage__makeDreamsTrue {
	display: flex;
	flex-direction: column;
	overflow-x: hidden !important;
	align-items: center;
	justify-content: space-evenly;
}
/* ---------------------------TOP SECTION-------------------------- */
.homePage__makeDreamsTrue__topImage {
	object-fit: contain;
	height: 28vw;
}
.homePage__makeDreamsTrue > h1 {
	font-family: bowie;
	color: #878787;
	font-size: 3.5vw;
	margin-top: 3vw;
	font-weight: lighter;
}
.homePage__makeDreamsTrue__top {
	width: 100%;
	display: flex;
	align-items: center;
	flex: 0.4;
	margin-top: 4vw;
	justify-content: space-evenly;
}
.homePage__makeDreamsTrue__topPurchase {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.homePage__makeDreamsTrue__topPrices {
	display: flex;
	align-self: flex-end;
	flex: 0.4;
	flex-direction: column;
}
.homePage__makeDreamsTrue__topPrices > h1 {
	color: #707070;
	font-family: Quattrocento-Regular;
	font-weight: lighter;
	font-size: 3vw;
	align-self: flex-end;
}
.homePage__makeDreamsTrue__topPrices > h2 {
	color: #707070;
	font-family: Quattrocento-Regular;
	font-weight: bold;
	align-self: flex-end;
	font-size: 2.5vw;
}
.homePage__makeDreamsTrue__topPurchase > h1 {
	color: #707070;
	font-family: Quattrocento-Regular;
	font-size: 3vw;
	font-weight: lighter;
}
.homePage__makeDreamsTrue__topPurchase > p {
	font-size: 2vw;
	font-family: Quattrocento-Regular;
	align-self: flex-end;
	color: #808080;
}
.homePage__makeDreamsTrue__topPurchase > button {
	width: 16vw;
	padding: 1.5vh 1vw;
	border: 0.2vw #ffc0a1 solid;
	font-family: Quattrocento-Regular;
	outline: none;
	margin-top: 3vh;
	font-size: 2vw;
	border-radius: 1vw;
	background-color: transparent;
	cursor: pointer;
}
.homePage__makeDreamsTrue__topPurchase > button:hover {
	background-color: #fff0e8;
}
/* ----------------------------MIDDLE SECTION---------------------------- */
.homePage__makeDreamsTrue__middle {
	display: flex;
	margin-top: 18vw;
	align-items: center;
	width: 100%;
}
.homePage__makeDreamsTrue__middle__image {
	object-fit: contain;
	height: 18vw;
	position: absolute;
	right: 0vw;
}
.homePage__makeDreamsTrue__middleText {
	height: 10vw;
	padding-left: 8vw;
	width: 30vw;
	display: flex;
	font-family: Quattrocento-Regular;
	color: #707070;
	flex-direction: column;
	font-size: 1.6vw;
	justify-content: space-between;
}

/* -----------------------------BOTTOM SECTION------------------------ */
.homePage__makeDreamsTrue__bottom {
	display: flex;
	margin-top: 18vw;
	margin-bottom: 5vw;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.homePage__makeDreamsTrue__bottom > p {
	font-family: Quattrocento-Regular;
	font-size: 1.8vw;
	color: #707070;
}
.homePage__makeDreamsTrue__bottomImageDetail {
	width: 100%;
	padding: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.homePage__makeDreamsTrue__bottomImageDetail > img {
	object-fit: contain;
	height: 30vw;
}
.homePage__makeDreamsTrue__bottomImageDetailFirst, .homePage__makeDreamsTrue__bottomImageDetailSecond {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 15vw;
	height: 25vw;
}
.homePage__makeDreamsTrue__bottomImageDetailFirstHeight,
.homePage__makeDreamsTrue__bottomImageDetailFirstWidth,
.homePage__makeDreamsTrue__bottomImageDetailFirstThickness,
.homePage__makeDreamsTrue__bottomImageDetailFirstWeight,
.homePage__makeDreamsTrue__bottomImageDetailFirstMetalWeight,
.homePage__makeDreamsTrue__bottomImageDetailFirstPurity {
	width: 100%;
}
.homePage__makeDreamsTrue__bottomImageDetailFirstWeight p,
.homePage__makeDreamsTrue__bottomImageDetailFirstMetalWeight p,
.homePage__makeDreamsTrue__bottomImageDetailFirstPurity p {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.homePage__makeDreamsTrue__bottomImageDetailFirstHeight > p:first-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstWidth > p:first-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstThickness > p:first-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstWeight > p:first-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstMetalWeight > p:first-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstPurity > p:first-child {
	font-family: Quattrocento-Regular;
	color: #909090;
	font-size: 1.2vw;
	border-bottom: 0.1vw #b1b1b1 solid;
	padding-bottom: 0.5vw;
}

.homePage__makeDreamsTrue__bottomImageDetailFirstHeight > p:last-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstWidth > p:last-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstThickness > p:last-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstWeight > p:last-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstMetalWeight > p:last-child,
.homePage__makeDreamsTrue__bottomImageDetailFirstPurity > p:last-child  {
	font-family: Quattrocento-Regular;
	font-size: 1.7vw;
	padding-top: 0.5vw;
	color: #606060;
}

/* ------------------------------------------------------ */
@font-face {
	font-family: bowie;
	src: url(BOOWIE.ttf);
}

@font-face {
	font-family: Quattrocento-Regular;
	src: url(Quattrocento-Regular.ttf);
}

@media screen and (max-width: 768px) {
	.homePage__makeDreamsTrue > h1 {
		font-size: 28px;
	}

	.homePage__makeDreamsTrue__topPurchase > button {
		font-size: 14px;
		width: 100px;
	}

	.homePage__makeDreamsTrue__middleText {
		font-size: 12px;
	}

	.homePage__makeDreamsTrue__bottom {
		margin-top: 120px;
	}

	.homePage__makeDreamsTrue__bottomImageDetailFirstHeight > p:first-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstWidth > p:first-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstThickness > p:first-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstWeight > p:first-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstMetalWeight > p:first-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstPurity > p:first-child {
		font-size: 10px;
	}

	.homePage__makeDreamsTrue__bottomImageDetailFirstHeight > p:last-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstWidth > p:last-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstThickness > p:last-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstWeight > p:last-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstMetalWeight > p:last-child,
	.homePage__makeDreamsTrue__bottomImageDetailFirstPurity > p:last-child  {
		font-size: 12px;
	}

	.homePage__makeDreamsTrue__bottom > p {
		font-size: 14px;
	}
}