.gemDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 80px;
	position: relative;
	justify-content: center;
}
.gemDetails__sectionCart {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.gemDetails__sectionCartSmallImages > img {
	object-fit: contain;
	padding: 20px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	height: 120px;
}
.gemDetails__sectionCartSmallImages > img:hover, .gemDetails__sectionCartSmallImages > img.active {
	box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.24), 2px 2px 10px rgba(161, 161, 161, 0.24);
	transition: 0.3s ease-in-out;
}
.gemDetails__sectionCartSmallImages {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.gemDetails__sectionCartMainImageIcon {
	position: absolute;
	top: 0;
	margin-top: 30px;
	margin-left: 350px;
}
.gemDetails__sectionCartMainImageIcon > .MuiSvgIcon-root {
	font-size: 30px !important;
	cursor: pointer;
	color: rgb(255, 177, 109) !important;
}
.gemDetails__sectionCartMainImage > img {
	height: 450px;
	object-fit: contain;
	width: 450px;
}
.gemDetails__sectionCartMainImage {
	margin: 0 80px;
}
.gemDetails__sectionCartCartDetails {
    width: 300px;
	/* border: 1px blue solid; */
	justify-items: flex-start !important;
}
.gemDetails__sectionCartCartDetails > div > h2 {
	font-size: 25px;
	font-family: Quattrocento-Regular;
	color: #707070;
	font-weight: bold;
	margin-bottom: 50px;
}
.gemDetails__sectionCartCartDetailsItem {
	font-size: 18px;
	display: flex;
	font-family: Quattrocento-Regular;
	color: #494949;
	line-height: 50px;
	align-items: center;
	justify-content: space-between;
}
.gemDetails__sectionCartCartDetails > div > p {
	font-family: Quattrocento-Regular;
	font-size: 20px;
	color: #494949;
	line-height: 50px;
}
.gemDetails__sectionCartCartDetailsBtns {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.gemDetails__sectionCartCartDetailsBtns > a {
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	flex-direction: column;
}
.gemDetails__sectionCartCartDetailsBtns > a > button {
	flex: 1;
	font-size: 14px;
	font-family: Quattrocento-Regular;
	color: #313131;
	background-color: #ffc0a1;
	border-radius: 0.7vw;
	transition: 0.3s ease-in-out;
	outline: none;
	width: 90%;
	margin: 5px 0;
	border: 1px transparent solid;
	padding: 15px;
	cursor: pointer;
}
.gemDetails__sectionCartCartDetailsBtns > a:last-child > button {
	border: 0.1vw #ffc0a1 solid;
	background-color: white;
}
.gemDetails__sectionCartCartDetailsBtns > a > button:hover {
	border: 0.1vw #ffc0a1 solid;
	background-color: white;
}
.gemDetails__sectionCartCartDetailsBtns > a:last-child > button:hover {
	background-color: #ffc0a1;
}

.gemDetails__sectionVideo > div > h2, .gemDetails__sectionDescription > div > h2, .gemDetails__sectionProduct > div > h2 {
	font-family: Quattrocento-Regular;
	color: #707070;
	margin: 100px 0 20px 20px;
}
.gemDetails__sectionProduct {
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.gemDetails__sectionProduct > div > h3 {
	font-family: Quattrocento-Regular;
	color: #707070;
    font-weight: lighter;
    margin-bottom: 50px;
}
.gemDetails__sectionVideo > div > video {
	object-fit: contain;
	height: 500px;
	border-radius: 20px;
	outline: none;
}
.tableRow {
	display: flex;
	width: 900px;
	font-size: 18px;
	align-items: center;
	justify-content: space-between;
	color: #313131;
	font-family: Quattrocento-Regular;
	margin: 15px;
}
.tableRow > p {
	border: 1px grey solid;
	padding: 10px;
	width: 100%;
}
.tableRow > p:first-child {
	font-weight: bold;
}
.gemDetails__otherGemsRow {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 16px;
	justify-content: space-evenly;
	width: 100%;
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
	.gemDetails__sectionVideo > div > video {
		height: 450px;
	}
}

@media screen and (max-width: 900px) and (min-width: 600px) {
	.gemDetails__sectionCartMainImage > img {
		height: 400px;
		width: 400px;
	}

	.gemDetails__sectionCartSmallImages {
		display: none;
	}

	.tableRow {
		width: 90vw;
	}

	.gemDetails__sectionDescription {
		width: 90vw;
	}

	.gemDetails__sectionVideo > div {
		display: flex;
		justify-content: center;
	}

	.gemDetails__sectionVideo > div > video {
		height: 45vw;
	}
	
	.gemDetails__sectionCartMainImage {
		margin: 0;
	}
}

@media screen and (max-width: 600px) and (min-width: 450px) {
	.gemDetails__sectionCartMainImage > div {
		display: flex;
		justify-content: center;
	}

	.tableRow {
		width: 90vw;
	}

	.gemDetails__sectionVideo, .gemDetails__sectionDescription {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.gemDetails__sectionDescription {
		width: 90vw;
	}
	
	.gemDetails__sectionVideo > div > video {
		height: 45vw;
	}

	.gemDetails__sectionCartSmallImages {
		display: none;
	}

	.gemDetails__sectionCart {
		flex-direction: column;
	}
}

@media screen and (max-width: 450px) {
	.gemDetails__sectionCartMainImage {
		margin: 0;
	}

	.gemDetails__sectionCartMainImage > div {
		height: auto;
		width: auto;
		display: flex;
		justify-content: center;
	}

	.gemDetails__sectionCartCartDetails > div > h1 {
		text-align: center !important;
	}

	.gemDetails__sectionCartMainImage > div > img {
		height: 300px !important;
		width: auto !important;
		object-fit: contain;
	}
	.gemDetails__sectionCartCartDetails, .gemDetails__sectionCartCart, .gemDetails__sectionCartMainImage > div {
		width: 90vw !important;
	}
	.gemDetails__otherGemsRow {
		width: auto;
	}

	.gemDetails__sectionCartSmallImages, .gemDetails__sectionDescription, .gemDetails__sectionVideo {
		display: none;
	}

	.gemDetails__sectionCart {
		flex-direction: column;
	}
}