.giftPage {
	margin-top: 5vw;
}

.giftPage__detailsSecond > img {
	object-fit: contain;
	height: 25vw;
}

.giftPage__details {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 5vw;
}

.giftPage__detailsFirst {
	width: 38vw;
}

.giftPage__detailsFirst > div > h1 {
	font-family: ginebra_font;
	color: #707070;
	font-weight: lighter;
	font-size: 2.5vw;
	padding: 1vw 0;
}

.giftPage__detailsFirst > div > p {
	font-family: santral;
	color: #707070;
	font-size: 1.2vw;
	line-height: 2vw;
	padding: 1vw 0;
}

.giftPage__detailsFirstButtons {
	display: flex;
	margin: 1.5vw;
	justify-content: flex-start;
	align-items: center;
}

.giftPage__detailsFirstButtons > a:first-child > button {
	padding: 1.3vw 3vw;
	width: 16vw;
	cursor: pointer;
	font-family: santral;
	z-index: 999;
	border: none;
	font-size: 1.1vw;
	color: black;
	outline: none;
	background-color: #d35f46;
	border-color: #d35f46;
	border-radius: 0.7vw;
	transition: 0.3s ease-in-out;
	margin-right: 14px;
}

.giftPage__detailsFirstButtons > a:first-child > button:hover {
	transition: 0.3s ease-in-out;
	background-color: white;
	border: 0.1px #d35f46 solid;
}

.giftPage__detailsFirstButtons > a:last-child > button:hover {
	transition: 0.3s ease-in-out;
	background-color: #d35f46;
}

.giftPage__detailsFirstButtons > a:last-child > button {
	padding: 1.3vw 3vw;
	width: 16vw;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	font-family: santral;
	border: 0.1vw #d35f46 solid;
	z-index: 999;
	font-size: 1.1vw;
	color: black;
	outline: none;
	background-color: white;
	background-color: white;
	border-radius: 0.7vw;
}

.giftPage {
	margin-top: 5vw;
}

.giftPage__detailsSecond > img {
	object-fit: contain;
	height: 25vw;
}

.giftPage__otherGems {
	padding: 5vw;
}

.giftPage__otherGemsRow {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (max-width: 900px) and (min-width: 450px) {
	.giftPage__detailsFirst {
		width: 60vw;
	}

	.giftPage__detailsFirst > div > h1 {
		font-size: 25px;
	}

	.giftPage__detailsFirst > div > p {
		font-size: 12px;
		line-height: 16px;
	}

	.giftPage__detailsFirstButtons > a:first-child > button {
		font-size: 11px;
		margin: 5px;
		width: 100px;
		padding: 9px;
	}

	.giftPage__detailsFirstButtons > a:last-child > button {
		font-size: 11px;
		margin: 5px;
		width: 100px;
		padding: 12px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media screen and (max-width: 450px) {
	.giftPage__detailsSecond {
		display: none;
	}

	.giftPage__details {
		justify-content: center;
	}

	.giftPage__detailsFirst {
		width: 80vw;
		text-align: center;
		margin-bottom: 20px;
	}

	.giftPage__detailsFirstButtons {
		display: flex;
		justify-content: center;
	}

	.giftPage__detailsFirst > div > h1 {
		font-size: 25px;
	}

	.giftPage__detailsFirst > div > p {
		font-size: 12px;
		line-height: 16px;
	}

	.giftPage__detailsFirstButtons > a:first-child > button {
		font-size: 11px;
		margin: 5px;
		width: 100px;
		padding: 9px;
	}

	.giftPage__detailsFirstButtons > a:last-child > button {
		font-size: 11px;
		margin: 5px;
		width: 100px;
		padding: 12px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.giftPage__otherGems {
		padding: 0;
	}

	.giftPage__otherGemsRow {
		flex-direction: column;
	}
}
