.gemStonesMain {
	margin-top: 5vw;
}
.gemStonesMain__detailsSecond > div > img {
	object-fit: contain;
	height: 30vw;
	width: 30vw	;
}
.gemStonesMain__details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5vw;
}
.gemStonesMain__detailsFirst {
	width: 38vw;
}
.gemStonesMain__detailsFirst > div > h1 {
	font-family: boowie;
	color: #707070;
	font-weight: lighter;
	font-size: 3.5vw;
	padding: 1vw 0;
}
.gemStonesMain__detailsFirst > div > p {
	font-family: Quattrocento-Regular;
	color: #707070;
	font-size: 1.3vw;
	line-height: 2vw;
	padding: 1vw 0;
}
.gemStonesMain__detailsFirstButtons {
	display: flex;
	margin: 1.5vw;
	justify-content: space-between;
	align-items: center;
}
.gemStonesMain__detailsFirstButtons > a:first-child > button {
	padding: 1.3vw 3vw;
	width: 16vw;
	cursor: pointer;
	font-family: Quattrocento-Regular;
	z-index: 999;
	border: none;
	font-size: 1.1vw;
	color: #3f3f3f;
	outline: none;
	background-color: #ffc0a1;
	border-radius: 0.7vw;
	transition: 0.3s ease-in-out;
}
.gemStonesMain__detailsFirstButtons > a:first-child > button:hover {
	transition: 0.3s ease-in-out;
	background-color: white;
	border: 0.1px #ffc0a1 solid;
}
.gemStonesMain__detailsFirstButtons > a:last-child > button:hover {
	transition: 0.3s ease-in-out;
	background-color: #ffc0a1;
}
.gemStonesMain__detailsFirstButtons > a:last-child > button {
	padding: 1.3vw 3vw;
	width: 16vw;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	font-family: Quattrocento-Regular;
	border: 0.1vw #ffc0a1 solid;
	font-size: 1.1vw;
	color: #3f3f3f;
	outline: none;
	background-color: white;
	border-radius: 0.7vw;
}
.gemStonesMain__otherGems {
	padding: 8vw 5vw;
}
.gemStonesMain__otherGemsRow {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* overflow-x: scroll; */
}
/* .gemStonesMain__otherGemsRow::-webkit-scrollbar {
	display: none;
} */

@media screen and (max-width: 900px) and (min-width: 450px) {
	.gemStonesMain__detailsFirst > div > h1 {
		font-size: 25px;
	}	

	.gemStonesMain__detailsFirst > div > p {
		font-size: 12px;
		line-height: 16px;
	}

	.gemStonesMain__detailsFirstButtons {
		width: 280px;
		margin-left: 0;
	}

	.gemStonesMain__detailsFirstButtons > a:first-child > button, .gemStonesMain__detailsFirstButtons > a:last-child > button {
		font-size: 12px;
		width: 130px;
		padding: 12px;
	}
}

@Media screen and (max-width: 450px) {
	.gemStonesMain__detailsFirst {
		width: 100%;
		text-align: center;
	}

	.gemStonesMain__detailsSecond {
		display: none;
	}

	.gemStonesMain__detailsFirst > div > h1 {
		font-size: 25px;
	}	

	.gemStonesMain__detailsFirst > div > p {
		font-size: 12px;
		line-height: 16px;
	}

	.gemStonesMain__detailsFirstButtons {
		display: flex;
		justify-content: space-around;
	}

	.gemStonesMain__detailsFirstButtons > a:first-child > button, .gemStonesMain__detailsFirstButtons > a:last-child > button {
		font-size: 12px;
		width: 130px;
		padding: 12px;
	}

	.gemStonesMain__otherGemsRow {
		flex-direction: column;
	}
}