.bill {
	box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.24), 2px 2px 10px rgba(161, 161, 161, 0.24);
	padding: 1.8vw;
	font-family: Santral;
	color: #707070;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.bill__topSection > p {
	font-weight: bold;
	font-size: 1.5vw;
	font-family: Ginebra_font;
}

.bill__topSection > span {
	display: flex;
	justify-content: space-between;
	margin: 2vw 0vw;
}

.bill__topSection > span > p {
	font-size: 1.2vw;
}

.bill_middleSection {
	border-top: 1px solid #aaa;
	padding-top: 2vw;
}

.bill_middleSection > span {
	display: flex;
	justify-content: space-between;
}

.bill_middleSection > span > p {
	font-size: 1.2vw;
}

.bill_middleSection > span > p:first-child {
	font-weight: bold;
}

.bill__bottomSection {
	display: flex;
	flex-direction: column;
}

.bill__bottomSection > div > a > button {
	width: 80%;
	padding: 1vw 1.5vw;
	border-radius: 1vw;
	border: 1px solid #d35f46;
	font-size: 1.2vw;
	font-weight: bold;
	font-family: Ginebra_font;
	color: white;
	background-color: #d35f46;
	transition: 0.3s ease;
}

.bill__bottomSection > div > a > button:hover {
	cursor: pointer;
	background-color: white;
	color: #d35f46;
	border: 1px solid #d35f46;
}

.bill__bottomSection > div > p {
	text-align: center;
	margin-top: 2vw;
	width: 55%;
	font-size: 1vw;
}

.bill__bottomSectionWarrant,
.bill__bottomSectionButton > a {
	display: flex;
	justify-content: center;
    text-decoration: none;
}

@media screen and (max-width: 900px) and (min-width: 450px) {
	.bill {
		margin-bottom: 3vh;
	}

	.bill__bottomSection > div > a > button {
		margin-top: 20px;
	}

	.bill__topSection > p {
		font-size: 16px;
	}

	.bill__topSection > span > p {
		font-size: 14px;
	}

	.bill_middleSection > span > p {
		font-size: 14px;
	}

	.bill__bottomSection > div > a > button {
		font-size: 14px;
	}

	.bill__bottomSection > div > p {
		font-size: 12px;
	}
}

@media screen and (max-width: 450px) {
	.bill {
		margin-bottom: 12vh;
	}

	.bill__bottomSection > div > a > button {
		margin-top: 20px;
	}

	.bill__topSection > p {
		font-size: 16px;
	}

	.bill__topSection > span > p {
		font-size: 14px;
	}

	.bill_middleSection > span > p {
		font-size: 14px;
	}

	.bill__bottomSection > div > a > button {
		font-size: 14px;
	}

	.bill__bottomSection > div > p {
		font-size: 12px;
	}
}
