.product {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	flex-direction: column;
}
.product > img {
	object-fit: contain;
	transition: 0.1s ease-in-out;
	height: 200px;
	margin: 1vw;
	/* box-shadow: 0px 1px 3px #ccc; */
}
.product > p {
	font-family: Quattrocento-Regular;
	color: #707070;
	padding: 1vw;
	font-size: 14px;
}
.product > button {
	margin: 2vw;
	padding: 0.8vw 3vw;
	cursor: pointer !important;
	margin-top: 1vw;
	font-family: Quattrocento-Regular;
	border: none;
	font-size: 12px;
	z-index: 999;
	color: #555555;
	outline: none;
	background-color: white;
	border: 2px #ffc0a1 solid;
	border-radius: 0.7vw;
	transition: 0.3s ease-in-out;
}
.product > button:hover {
	transition: 0.3s ease-in-out;
	color: white;
	background-color: #ffc0a1;
	font-weight: bold;
}
.product > img:hover {
	transition: 0.3s ease-in-out;
	transform: scale(1.05);
}
@media screen and (max-width: 900px) and (min-width: 450px) {
	.product {
		padding: 10px;
	}
	/* .product > p {
		font-size: 12px;
		line-height: 16px;
	} */

	.product > button {
		font-size: 12px;
		/* width: 130px;
		margin: 10px;
		padding: 10px;
		margin-left: 0; */
	}

	/* .product > img {
		object-fit: contain;
		height: 120px;
	} */
}

@media screen and (max-width: 450px) {
	.product > img {
		height: 60vw;
	}

	.product > p {
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}
