.MuiPaper-root.product.MuiPaper-elevation1.MuiPaper-rounded {
	padding: 10px;
	transition: 0.3s ease all;
}

.MuiPaper-root.product.MuiPaper-elevation1.MuiPaper-rounded:hover {
	transform: scale(1.05);
}

.product {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	flex-direction: column;
	margin: 16px;
}

.product > a > img {
	object-fit: contain;
	height: 220px;
}

.product > a {
	text-decoration: none;
}

.product > a > p {
	font-family: Ginebra_font;
	color: #707070;
	padding: 1vw;
	font-size: 14px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 10000px) and (min-width: 900px) {
	.MuiPaper-root.product.MuiPaper-elevation1.MuiPaper-rounded {
		padding: 1.2vw !important;
		box-shadow: 0vw 0.1vw 0.1vw -0.5vw rgb(0 0 0 / 20%), 
			0vw 0.1vw 0.1vw 0vw rgb(0 0 0 / 14%), 0vw 0.1vw 0.1vw 0vw rgb(0 0 0 / 12%);;
	}

	.product {
		padding: 3vw !important;
		margin: 1.6vw !important;
	}

	.product > a > img {
		height: 15vw !important;
	}

	.product > a > p {
		font-size: 1vw !important;
	}
}

@media screen and (max-width: 900px) and (min-width: 450px) {
	.product {
		padding: 10px;
	}

	.product > a > button {
		font-size: 12px;
	}
}

@media screen and (max-width: 450px) {
	.product > img {
		height: 60vw;
	}

	.product > p {
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}
