.processPage {
	margin-bottom: 50px;
	margin-top: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow-x: hidden;
}

.processPage > div > h1 {
	font-family: Ginebra_font;
	font-size: 3vw;
	margin: 2vw;
	width: 50vw;
	text-align: center;
	padding-bottom: 2.5vw;
	font-weight: lighter;
	color: #707070;
}

.processPage > div > p {
	width: 65vw;
	font-size: 1.5vw;
	font-family: Santral;
	line-height: 2vw;
	color: #707070;
	text-align: center;
}

.processPage__callBtn {
	width: 40vw;
	display: flex;
	margin-top: 5vw;
	margin-bottom: 10vw;
	align-items: center;
	justify-content: space-evenly;
}

.processPage__callBtn > a {
	text-decoration: none;
}

.processPage__callBtn > a > button {
	padding: 0.8vw;
	cursor: pointer;
	width: 15vw;
	font-family: Santral;
	border: none;
	font-size: 1.2vw;
	background-color: transparent;
	outline: none;
	border: 0.2vw #d35f46 solid;
	transition: 0.3s ease;
	border-radius: 0.7vw;
}

.processPage__callBtn > a:first-child > button {
	background-color: #d35f46;
	color: black;
}

.processPage__callBtn > a:last-child > button:hover{
	background-color: #d35f46;
	transition: 0.3s ease;
	color: white;
}

.processPage__callBtn > a:first-child > button:hover{
	background-color: white;
	transition: 0.3s ease;
	color: black !important;
}


@media screen and (max-width: 768px) and (min-width: 400px) {
	.processPage > div > h1 {
		font-size: 20px;
	}

	.processPage > div > p {
		font-size: 12px;
		line-height: 14px;
	}

	.processPage__callBtn {
		width: 350px;
	}

	.processPage__callBtn > a > button {
		font-size: 12px;
		width: 150px;
	}
}

@media screen and (max-width: 400px) {
	.processPage > div > h1 {
		font-size: 20px;
	}

	.processPage > div > p {
		font-size: 12px;
		line-height: 14px;
	}

	.processPage__callBtn {
		width: 350px;
		flex-direction: column;
	}

	.processPage__callBtn > a > button {
		font-size: 12px;
		width: 150px;
		margin: 4px;
	}
}
