@font-face {
	font-family: ginebra_font;
	src: url(./ginebra_font.ttf);
}

@font-face {
	font-family: santral;
	src: url(./santral.otf);
}

* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

button:focus {outline:0;}