.checkoutPage {
	margin: 80px;
	overflow: hidden !important;
	display: grid;
	align-content: center;
	justify-content: center;
	position: relative;
}

.checkoutPage__form {
	background-color: whitesmoke;
	padding: 50px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;
	width: 400px;
	border-radius: 20px;
	border: 2px #ffe7dc solid;
}
.checkoutPage__form > h2 {
	font-size: 2.2vw;
	font-family: bowie;
	margin-bottom: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: lighter;
	color: #707070;
}
.checkout__payment {
	padding-top: 20px;
}

/* ----------------------------------------------------------- */

@media screen and (max-width: 700px) {
	.checkoutPage__form > h2 {
		font-size: 20px ;
	}
	.checkoutPage__form {
		width: 250px;
		padding: 20px;
	}
	input {
		width: 200px !important;
		font-size: 11px !important;
	}
	.checkoutPage {
		margin: 10px;
	}
}
