.sidebarRight {
	border-left: 0.1vw grey solid;
}

.sidebarRight__innerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 30vw;
	padding: 1.6vw;
}

.sidebarRight__container {
	border-left: 0.1vw grey solid;
	height: 100%;
	margin-left: 0.6vw;
}

.sidebarRight__innerContainer .MuiSvgIcon-root {
	font-size: 3vw !important;
	color: rgb(255, 177, 109);
}